{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'partials/_menu.html' %}
    <h1>Contato</h1>

    <br>
    {% include 'partials/_search_menu.html' %}
    <section class="container mt-2">
        <form action="{% url 'review-contact' %}" method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {{field}}
            </div>
            {% endfor %}
            <input type="submit" value="Send Message" class="btc btn-success">
        </form>
    </section>
    {% include 'partials/_footer.html' %}
{% endblock %}
