{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <br>
    <br>
    <h2>Software Developer</h2>
    <h1>Vinícius Imai</h1>
    <p>Python, Javascript, React!</p>
    <div class="container">


     <a
        class="btn btn-info btn-block"
        href="https://www.linkedin.com/in/vinicius-imai/"
        className="linkedin"
        rel="noopener noreferrer"
        target="_blanck"
      >
        Linkedin
      </a>
      <a
        class="btn btn-info btn-block"
        href="https://github.com/Vimai"
        className="github"
        rel="noopener noreferrer"
        target="_blanck"
      >
        GitHub
      </a>
      <a class="btn btn-info btn-block"
        href="https://www.facebook.com/vinicius.imai"
        className="facebook"
        rel="noopener noreferrer"
        target="_blanck"
      >
        Facebook
      </a>
      <a
        class="btn btn-info btn-block"
        href="https://twitter.com/ViniciusImai"
        className="twitter"
        rel="noopener noreferrer"
        target="_blanck"
      >
        Twitter
      </a>
            </div>

</div>

{% endblock %}